{% extends 'base.html' %}
{% block title %}
About
{% endblock title %}
{% block body %}
<div class="container-fluid px-0">
    <img src="/static/100.jfif" class="d-block w-100" alt="...">
    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h1 class="mb-0">
                    <button class="btn btn-link btn-block text-left font-weight-bold " type="button" data-toggle="collapse"
                        data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Intro OF THE DESIGNER
                    </button>
                </h1>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    I'm Dev Mishra, a student pursuing the IX class and always been interested in taking real work experience by resarching on space with NASA astronauts, attending workshops, and debate tournaments. After some time when I did some research, I got to know that having a real work experience in the field of your interest makes it easy to get into the dream universities like Harvard, MIT, and Caltech( California Institute of Technology). Through these NASA researches, I learned how to solve the problems in a much smarter way. Apart from this I always had an intensity to do much more and always try to complete the given work in a much smarter way. The thing which makes me unique is that "I speak my mind" and never give the wrong perception about anyone. If I have to submit any work by tomorrow, I would work overnight and complete it in a much better way.
                    
                </div>
            </div>
        </div>
        <div class="card">

            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed font-weight-bold" type="button" data-toggle="collapse"
                        data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        My AIM
                    </button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    My desires doesn't stop here , I'm a guy who thinks for more. I have a plan to make space travel more reliable and so as I am doing, in 2020 I collaborate with NASA and present my first research on the rover of curiosity, which result in saving almost $200 million in the payloads of curiosity . Recently, I worked with NASA and present the worlds first toilet called as Centric Lunar Toilet(CLT), which would be able to work in both the gravity.Space is going to be the next destination of the Human Kind.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed font-weight-bold" type="button" data-toggle="collapse"
                        data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Other Details
                    </button>
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    Basically I'm currently studying at Gaurs International School, spending most of my time resarching and programming for a better tomorrow. The only one who motivate and inspire me the most are my friends, even whatever I'm able to achieve currently is just because of the support of my loviest friends. I wants to be a space scientist, for which my inspiration is Elon Musk( or the second god), he taught me about the importance of life and the true meaning of success.
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}